<ul>
    <li [class.strike]="task.isCompleted" *ngFor="let task of toDoList; trackBy: trackByFunction; index as index; even as even">
       <!-- <span [class.strike]="task.isCompleted" [ngStyle]="{'color': even? 'blue':'green'}" > -->
        <input type="checkbox" (change)="taskClicked($event, task, index)">{{task.taskName}}
    <!-- </span> -->
    </li>
</ul>
<!-- create and set an aria attribute for assistive technology -->
<button type="button" [attr.disabled]="actionName">{{actionName}} with Aria</button>